.text-field.error {
  -fx-text-box-border: red;
}

.combo-box-base.error {
  -fx-outer-border: red;
}

.table-row-cell {
  -fx-cell-size: 35px;
}

.table-column{
    -fx-alignment: center;
}

.table-column.longtext{
    -fx-alignment: center-left;
}

.table-column.currencyfield{
    -fx-alignment: center-right;
}